<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="SearchResult">SearchResults</a>
</li>
<li>
	<a class="btn btn-danger" asp-controller="Employee" asp-action="DynamicSQL">SearchResult</a>
</li>
<hr />

